{% extends "base.html" %}

{% block content %}
<div class="row">
  <h2>{{data.pluralname}}</h2>
</div>
<hr>
{% if data.queries %}
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
  {% for pq in page_obj %}
  <div class="col">
    <div class="card shadow-sm">
      <!-- Thumbnail -->
      <img src="{{pq.poza.url}}" height="225" alt="produs">
      <!-- Nume si pret -->
      <div class="card-body">
        <a href="/{{data.urlname}}/{{pq.id}}/">
          <h5 class="card-title">{{pq.nume}}</h5>
        </a>
        <p class="card-text" style="color:red; font-size: 160%">{{pq.pret}} RON</p>
        <div class="d-flex justify-content-between align-items-center">
          {% if pq.cantitate > 0 %}
          <a href="{% url 'modifica_cos' 'adauga' data.urlname pq.id %}" type="button" class="btn btn-success">Adauga in
            cos</a>
          {% else %}
          <h5 style="color: red;">Stoc epuizat</h5>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
<br>
<div class="row" style="margin-bottom: 20px">
  <nav>
    <ul class="pagination">
      {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1" aria-disabled="true">Inapoi</a>
      </li>
      {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Inapoi</a>
      </li>
      {% endif %}
      {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
      </li>
      {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="#">Next</a>
      </li>
      {% endif %}
    </ul>
  </nav>
</div>
{% else %}
<div class="row">
  <p>Momentan nu avem niciun produs pe stoc.</p>
</div>
{% endif %}
{% endblock %}