{% extends 'base.html' %}

{% block content %}
<div class="row">
    <h2>Finalizeaza comanda</h2>
</div>
<hr>
<div class="row">
    <div class="col-6">
        <div class="row">
            <h5>Cos de cumparaturi</h5>
        </div>
        <div class="row">
            <div class="table-responsive">
                <table class="table align-middle">
                    <thead>
                        <tr>
                            <th colspan="2" scope="col">Produs</th>
                            <th scope="col">Cantitate</th>
                            <th scope="col">Pret unitar</th>
                            <th scope="col">Pret total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for p in cos %}
                        <tr>
                            <td><img src="{{p.link_poza}}" height="250" alt="produs"></td>
                            <td>{{p.nume}}</td>
                            <td>{{p.cantitate}}</td>
                            <td>{{p.pret_unitar}} RON</td>
                            <td>{{p.pret_total}} RON</td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td colspan="3"></td>
                            <td><b>Total cos:</b></td>
                            <td><b>{{total}} RON</b></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="row">
            <h5>Detalii livrare</h5>
        </div>
        <div class="row">
        {% if user_detalii %}
        <div class="card">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Adresa livrare: {{user_detalii.adresa_livrare}}</li>
              <li class="list-group-item">Oras: {{user_detalii.oras}}</li>
              <li class="list-group-item">Judet: {{user_detalii.judet}}</li>
              <li class="list-group-item">Cod postal: {{user_detalii.cod_postal}}</li>
              <li class="list-group-item">Telefon: {{user_detalii.telefon}}</li>
            </ul>
        </div>
        <form action="{% url 'checkout' %}" method="POST">
            {% csrf_token %}
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button type="submit" class="btn btn-primary" style="margin-top: 20px;">Cumpara</button>
            </div>
        </form>
        {% else %}
        <form action="{% url 'checkout' %}" method="POST">
            {% csrf_token %}
            {% for field in form_detalii %}
            <div class="mb-3">
                <label for="">{{field.label}}</label>
                {{field}}
                {{field.errors}}
            </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary">Cumpara</button>
        </form>
        {% endif %}
        </div>
    </div>
</div>
{% endblock %}