{% extends "base.html" %}

{% block content%}
{% if comenzi %}
{% for c in comenzi %}
<div class="row">
    <h2>Comanda nr. {{c.id}}</h2>
    <h3>Status comanda: {{c.status}}</h3>
</div>
<hr>
<div class="row">
    <div class="table-responsive">
        <table class="table align-middle">
            <thead>
                <tr>
                    <th colspan="2" scope="col">Produs</th>
                    <th scope="col">Cantitate</th>
                    <th scope="col">Pret unitar</th>
                    <th scope="col">Pret total</th>
                </tr>
            </thead>
            <tbody>
                {% for p in c.produse.all %}
                <tr>
                    <td><img src="{{p.poza}}" height="250" alt="produs"></td>
                    <td>{{p.nume}}</td>
                    <td>{{p.cantitate}}</td>
                    <td>{{p.pret_unitar}} RON</td>
                    <td>{{p.pret_total}} RON</td>
                </tr>
                {% endfor %}
                <tr>
                    <td colspan="3"></td>
                    <td><b>Total cos:</b></td>
                    <td><b>{{c.pret_total}} RON</b></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endfor %}
{% else %}
<div class="row">
    Nu ai nicio comanda.
</div>
{% endif %}

{% endblock %}