{% extends 'base.html' %}

{% block content %}
<div class="row">
    <a href="{% url 'produs' categorie id %}"><span>&#8592;</span>Inapoi la produs</a>
</div>
<div class="row">
    <h1>Comaparatie produse</h1>
</div>
<div class="row">
    <div class="table-responsive">
        <table class="table align-middle">
          <thead>
            <tr>
              <th scope="col">Caracteristici</th>
              <th scope="col">{{produs1.nume}}</th>
              <th scope="col">{{produs2.nume}}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
                <td>Poza</td>
                <td><img src="{{produs1.poza.url}}" height="250" alt="produs"></td>
                <td><img src="{{produs2.poza.url}}" height="250" alt="produs"></td>
            </tr>
            <tr>
                <td>Pret</td>
                <td>{{produs1.pret}} RON</td>
                <td>{{produs2.pret}} RON</td>
            </tr>
            {% for attr, value in attrs.items %}
            <tr>
              <td>{{attr}}</td>
              <td>{{value.0}}</td>
              <td>{{value.1}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
</div>
{% endblock %}