{% extends 'base.html' %}

{% block content %}
<div class="row">
    <h2>Cos de cumparaturi</h2>
</div>
<div class="table-responsive">
    <table class="table align-middle">
        <thead>
            <tr>
                <th colspan="2" scope="col">Produs</th>
                <th scope="col">Cantitate</th>
                <th scope="col">Pret unitar</th>
                <th scope="col">Pret total</th>
            </tr>
        </thead>
        <tbody>
            {% for p in cos %}
            <tr>
                <td><img src="{{p.link_poza}}" height="250" alt="produs"></td>
                <td>{{p.nume}}</td>
                <td>{{p.cantitate}}
                    <a class="btn btn-primary" href="{% url 'modifica_cos' 'adauga' p.categorie p.id %}"
                        role="button"><i class="bi bi-arrow-up-circle"></i> Adauga</a>
                    <a class="btn btn-danger" href="{% url 'modifica_cos' 'sterge' p.categorie p.id %}" role="button"><i
                            class="bi bi-arrow-down-circle"></i> Sterge</a>
                    {% for message in messages %}
                    <div class="alert alert-danger" role="alert">
                       {{message}}
                    </div>
                    {% endfor %}
                </td>
                <td>{{p.pret_unitar}} RON</td>
                <td>{{p.pret_total}} RON</td>
            </tr>
            {% endfor %}
            <tr>
                <td colspan="3"></td>
                <td><b>Total cos:</b></td>
                <td><b>{{total}} RON</b></td>
            </tr>
        </tbody>
    </table>
    {% if total != 0 %}
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a class="btn btn-primary" href="{% url 'checkout' %}" role="button">Finalizeaza comanda</a>
    </div>
    {% endif %}
</div>
{% endblock %}