{% extends "base.html" %}

{% block content %}
{% for p in data %}
<div class="row">
  <h2>{{p.pluralname}}</h2>
</div>
<hr>
{% if p.queries %}
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
  {% for pq in p.queries %}
  <div class="col">
    <div class="card shadow-sm">
      <!-- Thumbnail -->
      <img src="{{pq.poza.url}}" height="225" alt="produs">
      <!-- Nume si pret -->
      <div class="card-body">
        <a href="/{{p.urlname}}/{{pq.id}}/">
          <h5 class="card-title">{{pq.nume}}</h5>
        </a>
        <p class="card-text" style="color:red; font-size: 160%">{{pq.pret}} RON</p>
        <div class="d-flex justify-content-between align-items-center">
          {% if pq.cantitate > 0 %}
          <a href="{% url 'modifica_cos' 'adauga' p.urlname pq.id %}" type="button" class="btn btn-success">Adauga in
            cos</a>
          {% else %}
          <h5 style="color: red;">Stoc epuizat</h5>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
<br>
<div class="row" style="margin-bottom: 20px">
  <a href="{{p.urlname}}">Vezi mai multe {{p.pluralname.lower}} >></a>
</div>
{% else %}
<div class="row">
  <p>Momentan nu avem niciun produs pe stoc.</p>
</div>
{% endif %}
{% endfor %}
{% endblock %}