{% extends 'base.html' %}

{% block content %}
<div class="d-flex justify-content-center" style="margin-bottom: 20px;">
    <h3 id="form-title">Logheaza-te</h3>
</div>
<div class="d-flex justify-content-center">
    {% for message in messages %}
    <div class="alert alert-danger" role="alert">
        {{message}}
    </div>
    {% endfor %}
</div>  
<div class="d-flex justify-content-center">
    <form method="POST" action="">
        {% csrf_token %}
        <div class="mb-3">
            <label for="username" class="form-label">Utilizator</label>
            <input type="text" name="username" class="form-control" id="username">
          </div>
          <div class="mb-3">
            <label for="parola" class="form-label">Parola</label>
            <input type="password" name="password" class="form-control" id="parola">
          </div>
          <div class="mb-3">
            <a href="{% url 'register' %}">Nu ai cont? Inregistreaza-te</a>
          </div>
          <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>
{% endblock %}