{% extends 'base.html' %}

{% block content %}
<div class="row">
    <h2>{{produs.query.nume}}</h2>
</div>
<hr>
<div class="row">
    <div class="col-8">
        <div class="row">
            <img src="{{produs.query.poza.url}}" height="500" alt="produs" style="margin-bottom: 20px">
        </div>
        <div class="row">
            <h3>Specificatii tehnice</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% if categorie == 'calculatoare' %}
                        {% for comp, spec in produs.attrs.items %}
                            <tr>
                                <td colspan="2"><b>{{comp}}</b></td>
                            </tr>
                            {% for kspec, vspec in spec.items %}
                                <tr>
                                    <td>{{kspec}}</td>
                                    <td>{{vspec}}</td>
                                </tr>
                            {% endfor %}
                        {% endfor %}
                    {% else %}
                    {% for attr, value in produs.attrs.items %}
                    <tr>
                        <td>{{ attr }}</td>
                        <td>{{ value }}</td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
        <div class="row">
            <h3>Review-uri</h3>
        </div>
        <div class="row">
            {% if produs.query.reviews.all %}
            {% for review in produs.query.reviews.all %}
            <div class="row">
                <div class="card" style="margin-bottom: 10px;">
                    <div class="card-body">
                        <h5 class="card-title">{{review.user.username}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Nota: {{review.score}} din 5</h6>
                        <p class="card-text">{{review.comment}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <p>Nu am gasit review-uri.</p>
            {% if not user.is_authenticated %}
            <b style="color: red">Trebuie sa fii logat sa poti lasa un review.</b>
            {% endif %}
            {% endif %}
        </div>
        <hr>
        {% if user.is_authenticated %}
        <div class="row">
            <form action="{% url 'review' categorie id %}" method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="" class="form-label">Nota</label>
                    <select name="score" class="form-select">
                        <option selected value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Comentariu</label>
                    <textarea class="form-control" name="comment" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        {% endif %} 
    </div>
    <div class="col-4">
        <div class="row" style="margin-bottom: 20px">
            <div class="card text-center">
                <div class="card-body">
                    <h3 class="card-title">{{ produs.query.pret }} RON</h3>
                    {% if produs.query.cantitate > 0 %}
                    <h5 style="margin-bottom: 20px;">Stoc disponibil: {{ produs.query.cantitate }}</h5>
                    <a href="{% url 'modifica_cos' 'adauga' categorie id %}" type="button" class="btn btn-success">Adauga in cos</a>
                    {% else %}
                    <h5 style="color: red;">Stoc epuizat</h5>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card text-center">
                <div class="card-body">
                    <h3 class="card-title">Compara cu:</h3>
                    {% if compara_produse %}
                    <form action="{% url 'compara' categorie id %}" method="POST">
                        {% csrf_token %}
                        <div class="mb-3">
                            <select name="id2" class="form-select" required>
                                {% for cp in compara_produse %}
                                <option value="{{cp.id}}">{{cp.nume}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Compara</button>
                    </form>
                    {% else %}
                    <p>Nu exista alte produse cu care sa comparati.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}