{% extends 'base.html' %}

{% block content %}
<div class="d-flex justify-content-center" style="margin-bottom: 20px;">
    <h3 id="form-title">Creeaza un cont</h3>
</div>
<div class="d-flex justify-content-center">
    <form class="row g-3" method="POST" action="">
        {% csrf_token %}
        <div class="col-12">
          <label for="id_username" class="form-label">Nume utilizator</label>
          {{ formUser.username }}
          {% if formUser.errors.username %}
          <div class="alert alert-danger" role="alert">
            {{formUser.errors.username}}
          </div>
          {% endif %}
        </div>
        <div class="col-md-6">
          <label for="id_password1" class="form-label">Parola</label>
          {{ formUser.password1 }}
          {% if formUser.errors.password1 %}
          <div class="alert alert-danger" role="alert">
            {{formUser.errors.password1}}
          </div>
          {% endif %}
        </div>
        <div class="col-md-6">
          <label for="id_password2" class="form-label">Confirma parola</label>
          {{ formUser.password2 }}
          {% if formUser.errors.password2 %}
          <div class="alert alert-danger" role="alert">
            {{formUser.errors.password2}}
          </div>
          {% endif %}
        </div>
        <div class="col-md-6">
          <label for="id_first_name" class="form-label">Prenume</label>
          {{ formUser.first_name }}
          {% if formUser.errors.first_name %}
          <div class="alert alert-danger" role="alert">
            {{ formUser.errors.first_name }}
          </div>
          {% endif %}
        </div>
        <div class="col-md-6">
          <label for="id_last_name" class="form-label">Nume</label>
          {{ formUser.last_name }}
          {% if formUser.errors.last_name %}
          <div class="alert alert-danger" role="alert">
            {{ formUser.errors.last_name }}
          </div>
          {% endif %}
        </div>
        <div class="col-12">
          <label for="id_email" class="form-label">Adresa de email</label>
          {{ formUser.email }}
          {% if formUser.errors.email %}
          <div class="alert alert-danger" role="alert">
            {{ formUser.errors.email }}
          </div>
          {% endif %}
        </div>
        <div class="col-12">
          <label for="id_adresa_livrare" class="form-label">Adresa de livrare</label>
            {{ formDetalii.adresa_livrare }}
        </div>
        <div class="col-6">
          <label for="id_oras" class="form-label">Oras</label>
            {{ formDetalii.oras }}
        </div>
        <div class="col-6">
          <label for="id_judet" class="form-label">Judet</label>
            {{ formDetalii.judet }}
        </div>
        <div class="col-12">
          <label for="id_cod_postal" class="form-label">Cod postal</label>
            {{ formDetalii.cod_postal }}
        </div>
        <div class="col-12">
          <label for="id_telefon" class="form-label">Numar telefon</label>
            {{ formDetalii.telefon }}
        </div>
        <button type="submit" class="btn btn-primary">Inregistreaza-te</button>
    </form>
</div>    
<script>
  var form_fields = document.getElementsByTagName('input')
  for (var field in form_fields){	
    form_fields[field].className += ' form-control'
  }
</script>
{% endblock %}