{% extends "base.html" %}

{% block content %}
<div class="d-flex justify-content-center" style="margin-bottom: 20px;">
    <h3 id="form-title">Modifica datele de livrare</h3>
</div>
<div class="d-flex justify-content-center" style="margin-bottom: 20px;">
    <div class="alert alert-primary" role="alert">
        Completeaza datele de livrare inainte sa faci o comanda
    </div>
</div>
<div class="d-flex justify-content-center">
    <form method="POST" action="">
        {% csrf_token %}
        <div class="mb-3">
            <label for="id_adresa_livrare" class="form-label">Adresa de livrare</label>
            {{ form.adresa_livrare }}
        </div>
        <div class="mb-3">
            <label for="id_oras" class="form-label">Oras</label>
            {{ form.oras }}
        </div>
        <div class="mb-3">
            <label for="id_judet" class="form-label">Judet</label>
            {{ form.judet }}
        </div>
        <div class="mb-3">
            <label for="id_cod_postal" class="form-label">Cod postal</label>
            {{ form.cod_postal }}
        </div>
        <div class="mb-3">
            <label for="id_telefon" class="form-label">Numar telefon</label>
            {{ form.telefon }}
        </div>
        <button type="submit" class="btn btn-primary">Actualizeaza</button>
    </form>
</div>
{% endblock %}